PROJECT_HOME='/path/to/temporal_dimensionality'
TORCH_HOME='/path/to/cache/torch'
BONNER_MODELS_HOME='/path/to/cache/bonner-models/temporal_dimensionality'
BONNER_CACHING_HOME='/path/to/cache/bonner-caching/temporal_dimensionality'
BONNER_DATASETS_HOME='/path/to/datasets'
